:root {
    --niceRed: #cc2a41;
    --offWhite: #fafafa;
    --notBlack: #22272a;
    --fadedText: #666;
}

body {
    width: 500px;
}

#leftBar {
    background: white;
    box-sizing: border-box;
    width: 70vw;
    padding: 10px;
}

#deconifySideBar {
    box-sizing: border-box;
    right: 0;
    top: 0;
    display: block;
    width: 29vw;
    height: 100vh;
    padding: 10px;
    background: var(--offWhite);
    position: fixed;
    border-left: 3px solid var(--notBlack);

    font-family: "Menlo", "Meslo LG", monospace;
    font-size: 16px;
    color: var(--notBlack);
}
.sideBarSection {
    display: block;
    padding: 10px;
}
.titleSideBar {
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}
#mutableContainerSideBar {
    display: block;
    height: 97%;
    width: 100%;
}
#summarySideBar {
    height: 100%;
    display: none;
}
#exploreSideBar {
    height: 100%;
    display: none;
}
#definitionsSideBar {
    height: 40%;
    line-height: 20px;
    overflow-y: auto;
}
.definitionEntrySideBar {
    font-weight: 500;
    font-size: 14px;
    margin: 10px 0;
}
.termSideBar {
    color: var(--niceRed);
    text-decoration: underline;
}
.tagNumberSideBar {
    color: var(--fadedText);
    letter-spacing: 0px;
    /* font-style: italic; */
}
.tagNumberSideBar:hover {
    background-color: yellow;
}
.correspondingNumberSideBar {

}
#extrasSideBar {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 60%;
    border-top: 1px solid var(--notBlack);
}
#tabsSideBar {
    height: 3%;
    width: 100%;
    border-top: 1px solid var(--notBlack);
    padding: 0;
    padding-top: 3px;
    font-size: 11px;
    line-height: 15px;
}
.tabSideBar {
    cursor: pointer;
    text-align: center;
    display: inline-block;
    width: 33%;
    height: 100%;
    padding: 2px;
    border-left: 1px solid var(--notBlack);
    border-right: 1px solid var(--notBlack);
    background: #cc2a4177;
}
.tabSideBar:hover {
    background: #cc2a4133;
}
#mainTabSideBar {
    
}
#summaryTabSideBar {

}
#exploreTabSideBar {

}
.tabSideBar.chosenTabSideBar {
    background: #cc2a41BB;
}